$darkBlue: rgb(53, 81, 99);
$greyBlue: rgb(195, 203, 208);
$white: #EEE;


* {
	box-sizing: border-box;
}

html {
	background: $darkBlue;
}

body {
	color: $white;
	margin: 0 auto;
	max-width: 320px;
	padding: 25px;
	text-align: center;
}

a {
	color: $white;
	text-decoration: none;
}

button {
	background: $greyBlue;
	color: $darkBlue;
	height: 2.5em;
	width: 100%;
	.active & {
		background: $white;
	}
}

.auth-form,
.main-menu {
	background: rgba(255, 255, 255, 0.08);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	padding: 10px;
}
.main-content {
	margin: 50px 0;
}

input,
textarea {
	color: $darkBlue;
	margin: 5px 0;
	padding: 3px 6px;
	width: 100%;
}
