<ul>
{{#each user in controller }}
  <li>{{#link-to 'user' user }}{{ user.fullName }}{{/link-to}}</li>
{{/each}}
</ul>

{{#link-to "users.create" class="create-btn"}}
  <button>Add user</button>
{{/link-to}}

{{outlet}}
